<h1>Профиль</h1>

<div class="row">
  <div class="col s12 m12 l6">
    {{#if user.avatarUrl}}
      <img 
        class="avatar"
        src="/{{user.avatarUrl}}" 
        alt="avatar-{{user.name}}"
      >
    {{else}}
      <p>Аватара нет</p>
    {{/if}}
  </div>

  <div class="col s12 m12 l6">
    <form action="/profile" method="POST" enctype="multipart/form-data">
      <p>Ваше email: <strong>{{user.email}}</strong></p>

      <div class="input-field">
        <input id="name" name="name" type="text" class="validate" required value="{{user.name}}">
        <label for="name">Ваше имя</label>
        <span class="helper-text" data-error="Имя не может быть пустым"></span>
      </div>

      <div class="file-field input-field">
        <div class="btn">
          <span>Аватар</span>
          <input type="file" name="avatar">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>

      <input type="hidden" name="_csrf" value="{{csrf}}">

      <button type="submit" class="btn">Изменить</button>
    </form>
  </div>
</div>
<hr>
<div class="col s12">
      <table class="responsive-table centered">
        <thead>
          <tr>
              <th>№ <br>п/п</th>
              <th>Название тренажера</th>
              <th>Тип тренажера</th>
              <th>Количество баллов</th>
              <th>Дата тренировки</th>
          </tr>
        </thead>

        <tbody>
          {{#each statistics}}
          <tr>
            <td>{{addOne @index}}</td>
            <td>{{this.title}}</td>
            <td>{{this.typeTraining}}</td>
            <td>{{this.score}}</td>
            <td>{{this.lastUpdate}}</td>
          </tr>
           {{/each}}
        </tbody>
      </table>

</div>